<div th:replace="admin/fragments/header"></div>
<div class="container mt-5">
    <div th:if="${test} == 1">
        <h2 class="mb-4">Edit Product</h2>
    </div>
    <div th:if="${addProductValue} == 1">
        <h2 class="mb-4">Add Product</h2>
    </div>

    <form th:action="@{/processAddProduct}" th:object="${addProductForm}" method="post" enctype="multipart/form-data">
        <div th:if="${editProductValue} == 1">
            <!-- <input type="hidden" th:field="*{id}" th:value="${id}" /> -->
            <input type="hidden" id="id" th:attr="value=${id}" name="id"/>
        </div>
        <!-- Product Name -->
        <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="productName" placeholder="Enter product name" >
            <span th:if="${#fields.hasErrors('name')}" style="color: red;" th:errors="*{name}">name Error</span>
        </div>

        <!-- Quantity -->
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input th:field="*{quantity}" type="number" class="form-control" id="quantity" placeholder="Enter quantity" >
            <span th:if="${#fields.hasErrors('quantity')}" style="color: red;" th:errors="*{quantity}">quantity Error</span>
        </div>

        <!-- SKU -->
        <div class="mb-3">
            <label for="sku" class="form-label">SKU</label>
            <input th:field="*{sku}" type="text" class="form-control" id="sku" placeholder="Enter SKU" >
            <span th:if="${#fields.hasErrors('sku')}" style="color: red;" th:errors="*{sku}">sku Error</span>
        </div>

        <!-- Category Dropdown -->
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select th:field="*{category}" class="form-select" id="category">
                <option value="" selected>Select category</option>
                <option th:each="categoryItem : ${categories}" th:value="${categoryItem.name}" th:text="${categoryItem.name}">Category Name</option>
            </select>
            
            <span th:if="${#fields.hasErrors('category')}" style="color: red;" th:errors="*{category}">category Error</span>
        </div>

        <!-- Image Input -->
        <div class="mb-3">
            <label for="productImage" class="form-label">Product Image</label>
            <div th:if="${editProductValue} == 1">
                <input th:field="*{image}" type="file" class="form-control" id="image" name="image">
                <span th:if="${#fields.hasErrors('image')}" style="color: red;" th:errors="*{image}">image Error</span>
            </div>
            <div th:if="${addProductValue} == 1">
                <input th:field="*{image}" type="file" class="form-control" id="image" name="image" required>
                <span th:if="${#fields.hasErrors('image')}" style="color: red;" th:errors="*{image}">image Error</span>
            </div>
            
            <!-- OR -->
            <!-- <input type="text" class="form-control" id="productImageUrl" placeholder="Enter image URL"> -->
        </div>

        <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Save Product</button>
    </form>
</div>
<div th:replace="admin/fragments/footer"></div>