<div th:replace="admin/fragments/header"></div>
<div class="container mt-5">
    <div th:if="${editCategoryValue} == 1">
        <h2 class="mb-4">Edit Category</h2>
    </div>
    <div th:if="${addCategoryValue} == 1">
        <h2 class="mb-4">Add Category</h2>
    </div>

    <form method="post" th:action="@{/processAddCategory}" th:object="${addCategory}">
        <div th:if="${editCategoryValue} == 1">
            <input type="hidden" th:field="*{categoryId}" th:value="${categoryId}" />
        </div>
        <!-- Category Name -->
        <div class="mb-3">
            <label for="categoryName" class="form-label">Category Name</label>
            <input th:field="*{categoryName}" type="text" class="form-control" id="categoryName" placeholder="Enter category name">
            <span th:if="${#fields.hasErrors('categoryName')}" style="color: red;" th:errors="*{categoryName}">categoryName Error</span>
        </div>

        <!-- Category Description -->
        <div class="mb-3">
            <label for="categoryDescription" class="form-label">Category Description</label>
            <textarea th:field="*{categoryDescription}" class="form-control" id="categoryDescription" rows="3" placeholder="Enter category description"></textarea>
            <span th:if="${#fields.hasErrors('categoryDescription')}" style="color: red;" th:errors="*{categoryDescription}">categoryDescription Error</span>
        </div>

        <!-- Submit Button -->
        <div th:if="${editCategoryValue} == 1">
            <button type="submit" class="btn btn-primary">Edit Category</button>
        </div>
        <div th:if="${addCategoryValue} == 1">
            <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
        
    </form>
</div>
<div th:replace="admin/fragments/footer"></div>